.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 90px;
  height: 100vh;
  background: white;
  border-right: 1px solid #e5e7eb;
  box-shadow: 2px 0 10px rgba(0,0,0,0.05);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 25px 0;

  z-index: 1000;
}

.sidebarProfile {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 40px;
}

.sidebarProfile img {
  width: 55px;
  height: 55px;
  border-radius: 18px;
  object-fit: cover;

  margin-bottom: 10px;
}

.sidebarProfile h3 {
  font-size: 14px;
  color: #1f2937;
}

.sidebar ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 22px;

  width: 100%;

  align-items: center;

  padding: 0;
}

.sidebar li {
  width: 55px;
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 18px;

  font-size: 24px;

  color: #9ca3af;

  cursor: pointer;

  transition: all 0.25s ease;
}

.sidebar li:hover {
  background: #eff6ff;
  color: #2563eb;

  transform: scale(1.05);
}

.sidebar li.active {
  background: #dbeafe;
  color: #2563eb;
}