.cardEmergencia {
  background: #fff4f4;
  margin: 20px;
  padding: 25px;
  border-radius: 20px;
}

.cardEmergencia button {
  margin-top: 15px;
  padding: 12px 18px;
  border: none;
  border-radius: 12px;
  background: red;
  color: white;
}